<% method = @cat.persisted? ? "patch" : "post" %>
<% action = @cat.persisted? ? cat_url : cats_url %>


<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>" />
<section>
  <label>
    Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>" placeholder="Enter your cat name here..." />
  </label>
</section>
<section>
  <label>Sex: </label>
  <label>
    M
    <input type="radio" name="cat[sex]" value="M" <% if @cat.sex == 'M' %>checked="checked"<% end %> />
  </label>
  <label>
    F
    <input type="radio" name="cat[sex]" value="F" <% if @cat.sex == 'F' %>checked="checked"<% end %> />
  </label>
</section>
<section>
  <label for="cat_color">Color</label>
  <select id="cat_color" name="cat[color]">
    <% @colors.each do |color| %>
    <option value="<%= color %>" <% if @cat.color == color %>selected<% end %> ><%= color %></option>
    <% end %>
  </select>
</section>
<section>
  <label>Birthdate:
    <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>" />
  </label>

</section>
<section>
  <label>Description:
    <textarea name="cat[description]"><%= @cat.description %></textarea>
  </label>
</section>
<section>
  <button>Save</button>
</section>
</form>
